tensorflow/
__pycache__/
*.dylib
*.so
saved_models/
bottleneck_features/
requirements/
saved_models/
bottleneck_features/
requirements/
saved_models/
bottleneck_features/
requirements/
saved_models/
bottleneck_features/
requirements/
lfw/
images/
dogImages/
